header {
    background-color: var(--color-neutral-1);
    padding: 12px 4%; 
    position: sticky; /* FIXANDO QUANDO ROLAR A PAGINA */
    top: 0; /* FIXANDO QUANDO ROLAR A PAGINA */
    z-index: 1; /* FIXANDO QUANDO ROLAR A PAGINA */
    transition: box-shadow 0.3s ease; /* Sombra mais suave ao rolar a pagina*/

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 180px;
        }

        ul {
            display: none; /*Removendo as infos do menu inicial para aparecerem apenas no menu hamburguer*/
            list-style: none; /*Removendo os pontinhos*/
            flex-direction: column; /*Deixando os ul um encima do outro*/
            gap: 0.5rem; /*Dando espaçamento*/
            width: 100%;
            position: absolute; /*pra ele ficar embaixo*/
            top: 80px;
            background-color: var(--color-neutral-1);
            left: 0;
            padding: 1rem; /*Dando espaçamento entre eles*/

            &.show {
                display: flex;
            }

            li {
                text-align: center; /*Definindo as li pro centro*/

                a {
                    color: var(--color-neutral-8);
                    text-decoration: none; /*Tirando os risquinhos de baixo*/
                    font-size: 1rem;
                    font-weight: 500; /*Deixando font mais escura*/
                    transition: all 0.3s ease; /*botando uma transição quando passar o mouse*/

                    &:hover { /*Definindo cor ao passar o mouse */
                        color: var(--color-primary-1);
                        border-bottom: 1px solid var(--color-primary-1); /*Definindo borda ao passar o mouse */
                    }
                }
            }
        }

        .btn-default {
            display: none;
        }
    }
}

@media (min-width: 769px) {
    header {
        .navbar {
            .btn-mobile {
                display: none;
            }

            ul {
                display: flex;
                flex-direction: row;
                position: static;
                gap: 1rem;
                width: auto;
                padding: 0;
            }

            .btn-default {
                display: block;
            }
        }
    }
}